.map-wrapper {
  margin-top: 30px;
  height: 280px;
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  will-change: transform;
  backface-visibility: hidden;
}
